<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.slbdev.demo" android:debuggable="true">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Get permission for reliable local dispatching on non-Google Play devices. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="Demo">
		<!-- https://developers.google.com/analytics/devguides/collection/android/v4/dispatch#background -->
		<!-- Needed for MobileIron wrapped apk -->
		<!-- Register AnalyticsReceiver and AnalyticsService to support background dispatching on non-Google Play devices. -->
		<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false" />
	</application>
</manifest>
